.btn {
    -fx-background-color: transparent;  
}

#nouvelle:hover {
    -fx-graphic: url('../hover_images/nouvelle_hover.png');
    -fx-padding: 0 0 0 0;
}

#creer:hover {
    -fx-graphic: url('../hover_images/creer_hover.png');
    -fx-padding: -30 0 0 0;
}

#tutoriel:hover {
    -fx-graphic: url('../hover_images/tutoriel_hover.png');
    -fx-padding: 0 0 0 0;
}

#charger:hover {
    -fx-graphic: url('../hover_images/charger_hover.png');
    -fx-padding: 0 0 0 0;
}

#rejoindre:hover {
    -fx-graphic: url('../hover_images/rejoindre_hover.png');
    -fx-padding: 0 0 0 0;
}

#credits:hover {
    -fx-graphic: url('../hover_images/credits_hover.png');
    -fx-padding: 0 0 0 0;
}

#retour:hover {
    -fx-graphic: url('../hover_images/retour_hover.png');
    -fx-padding: 0 0 0 0;
}

#btnCommencer:hover {
    -fx-graphic: url('../hover_images/commencer_hover.png');
    -fx-padding: 0 0 0 0;
}

.nom_joueur {
    -fx-text-fill: white;
}

.managerPane:hover {
  -fx-padding: 100 100 100 100 ;
}

#precedentBleu:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#precedentRouge:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#precedentJaune:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#precedentVert:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#suivantBleu:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#suivantRouge:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#suivantJaune:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#suivantVert:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#load:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-padding: 0 0 0 10;
}

#save:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-padding: 0 0 0 10;
}

#recommencer:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-padding: 0 0 0 10;
}

#retourMenu:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-padding: 0 0 0 10;
}

