.btn {
    -fx-background-color: transparent;  
}

#nouvelle:hover {
    -fx-graphic: url('../hover_images/nouvelle_hover.png');
    -fx-padding: 0 0 0 0;
}

#creer:hover {
    -fx-graphic: url('../hover_images/creer_hover.png');
    -fx-padding: 0 0 0 0;
}

#tutoriel:hover {
    -fx-graphic: url('../hover_images/tutoriel_hover.png');
    -fx-padding: 0 0 0 0;
}

#charger:hover {
    -fx-graphic: url('../hover_images/charger_hover.png');
    -fx-padding: 0 0 0 0;
}

#rejoindre:hover {
    -fx-graphic: url('../hover_images/rejoindre_hover.png');
    -fx-padding: 0 0 0 0;
}

#credits:hover {
    -fx-graphic: url('../hover_images/credits_hover.png');
    -fx-padding: 0 0 0 0;
}

#retour:hover {
    -fx-graphic: url('../hover_images/retour_hover.png');
    -fx-padding: 0 0 0 0;
}

#btnCommencer:hover {
    -fx-graphic: url('../hover_images/commencer_hover.png');
    -fx-padding: 0 0 0 0;
}

.nom_joueur {
    -fx-text-fill: white;
}

.gui_infos {
    -fx-alignment: CENTER;
    -fx-text-fill: #d7d7d7;
    -fx-font-size: 10px;
}

.gui_score {
    -fx-alignment: CENTER;
    -fx-text-fill: #d7d7d7;
    -fx-font-size: 14px;
}

#precedentRouge:hover , #precedentBleu:hover, #precedentJaune:hover, #precedentVert:hover ,
#suivantBleu:hover, #suivantRouge:hover, #suivantJaune:hover, #suivantVert:hover  {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

/*#save:hover ,#recommencer:hover ,#retourMenu:hover ,#load:hover  {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 0, 0, 2, 0);
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}*/

#btnUndo:hover, #btnRedo:hover, #btnPause:hover, #btnIndice:hover, #revanche:hover, #save:hover ,#recommencer:hover ,#retourMenu:hover  {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 0, 0, 2, 0) ;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-padding: 0 0 0 -2;
}

#retourMenu2:hover
{
    -fx-graphic: url('../hover_images/retour_hover.png');
    -fx-padding: 0 0 0 0;
}
#boutonCredits:hover
{
    -fx-graphic: url('../hover_images/communaute_hover.png');
    -fx-padding: 0 0 0 0;
}
#btnSauvegarder:hover
{
    -fx-graphic: url('../hover_images/sauvegarder_hover.png');
    -fx-padding: 0 0 0 0;
}
#retourJeu:hover
{
    -fx-graphic: url('../hover_images/retourJeu_hover.png');
    -fx-padding: 0 0 0 0;
}
#histoire:hover
{
    -fx-graphic: url('../hover_images/histoire_hover.png');
    -fx-padding: 0 0 0 0;
}

.tuto {
    /*-fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: red;*/
    -fx-alignment: CENTER;
    -fx-wrap-text: true;
    -fx-text-alignment: justify;
    -fx-font-size: 12px;
    -fx-font-family: "Guns n' Flash Comix";
}

.texte_credits {
    /*-fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: red;*/
    -fx-alignment: CENTER_LEFT;
    -fx-wrap-text: true;
    -fx-text-alignment: justify;
    -fx-font-size: 12px;
    -fx-font-family: "Guns n' Flash Comix";
}

.texte_equipe {
    /*-fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: red;*/
    -fx-alignment: CENTER;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-font-family: "Guns n' Flash Comix";
}