.btn {
    -fx-background-color: transparent;  
}

#nouvelle:hover {
    -fx-graphic: url('../hover_images/nouvelle_hover.png');
    -fx-padding: 0 40 0 0;
}

#creer:hover {
    -fx-graphic: url('../hover_images/creer_hover.png');
    -fx-padding: -30 0 0 0;
}

#tutoriel:hover {
    -fx-graphic: url('../hover_images/tutoriel_hover.png');
    -fx-padding: 0 40 0 0;
}

#charger:hover {
    -fx-graphic: url('../hover_images/charger_hover.png');
    -fx-padding: 0 0 40 0;
}

#rejoindre:hover {
    -fx-graphic: url('../hover_images/rejoindre_hover.png');
    -fx-padding: 0 0 40 0;
}

#credits:hover {
    -fx-graphic: url('../hover_images/credits_hover.png');
    -fx-padding: 0 40 0 0;
}

#retour:hover {
    -fx-graphic: url('../hover_images/retour_hover.png');
    -fx-padding: 0 40 0 0;
}

#btnCommencer:hover {
    -fx-graphic: url('../hover_images/commencer_hover.png');
    -fx-padding: 0 0 0 0;
}

.nom_joueur {
    -fx-text-fill: white;
}

.gui_infos {
    -fx-text-fill: #d7d7d7;
    -fx-font-size: 10px;
}